<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/water.css">
	<title>dangerous - mod login</title>
</head>
<body>
	<h1>dangerous - mod login</h1>
	<form action="/login" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<button type="submit">login</button>
	</form>
	<div>
	</div>
</body>
</html>